
@{
    ViewBag.Title = "Report";
}

<style type="text/css">
    .custom{
        margin-bottom:15px;
        margin-top:15px;
    };
</style>

<h2>Export Excel</h2>


<div class="row">
    <div class="col-sm-4">
        <b>Export SQL</b>
    </div>
    <div class="col-sm-4">
        <b>Export NoSQL</b>
    </div>
    <div class="col-sm-4">
        <b>Export SQL-NOSQL</b>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 custom">
        <a class="btn btn-success" href="/api/excel/SQLReport">SQL</a>
    </div>
    <div class="col-sm-4 custom">
        <a class="btn btn-success" href="/api/excel/NoSQLReport">NOSQL</a>
    </div>
    <div class="col-sm-4 custom">
        <a class="btn btn-success" href="/api/excel/MixedReport">MixedSQL</a>
    </div>
</div>

<div class="row">
     <div class="col-sm-4 custom">
         <div id="logsSQLReport"></div>
     </div>
    <div class="col-sm-4 custom">
        <div id="logsNoSQLReport"></div>
    </div>
    <div class="col-sm-4custom">
        <div id="logsMixedReport"></div>
    </div>
</div>

<script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var chat = $.connection.exportPerformanceLog;
            // Create a function that the hub can call to broadcast messages.
            chat.client.broadcastMessage = function (name, message) {
                // Html encode display name and message.
            
                // Add the message to the page.
                $('#logs' + name).append('<li><strong>Time: </strong>&nbsp;&nbsp' + message + '</li>');
            };
           
            // Start the connection.
            $.connection.hub.start().done(function () {
            });
        });
</script>
