
@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>

<a class="btn btn-success" href="/api/excel/SQLReport">SQL</a><br />
<a class="btn btn-success" href="/api/excel/NoSQLReport">NOSQL</a><br />
<a class="btn btn-success" href="/api/excel/MixedReport">MixedSQL</a>

