<?xml version="1.0" encoding="utf-8"?>
<!--
  Per altre informazioni sulla configurazione dell'applicazione ASP.NET, visitare
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
    <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="MongoDBConfiguration" type="SQL.NoSQL.Library.Config.MongoDBConfiguration, SQL.NoSQL.Library" />
    <section name="RepositoryConfiguration" type="SQL.NoSQL.Library.Config.RepositoryConfiguration, SQL.NoSQL.Library" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


    <targets>
      <target
          xsi:type="File"
          name="mainLog"
          fileName=".\logs\Prada.BookTelefonico.Web.${shortdate}.txt"
          layout="${longdate} ${uppercase:${level}}: ${message}  ${exception:format=tostring}"
          archiveNumbering="Sequence"
          archiveAboveSize="10485760"
          maxArchiveFiles="100">
      </target>

    </targets>

    <rules>
      <logger name="NHibernate.SQL" writeTo="mainLog"  final="true" minlevel="Debug"  />
      <logger name="NHibernate.*" writeTo="mainLog"  final="true" minlevel="Info" />
      <logger name="NHibernate.*"  final="true" />
      <!-- stops all debug hibernate here-->
      <logger name="*" minlevel="Info" writeTo="mainLog" />
    </rules>
  </nlog>
  
   <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">Server=(localdb)\Projects;initial catalog=Evento26DB;Integrated Security=true;</property>
      <property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
      <property name="current_session_context_class">thread_static</property>
      <property name="connection.release_mode">on_close</property>
      <property name="show_sql">true</property>
    </session-factory>
  </hibernate-configuration>

  <MongoDBConfiguration>
    <MongoDBCollection>
      <property name="Connection" value="mongodb://localhost" />
      <property name="CollectionName" value="Evento26DB" />
    </MongoDBCollection>
  </MongoDBConfiguration>
  
    <RepositoryConfiguration>
    <RepositoryCollection>
      <Repository RepositoryName="LogRepository" DataBase="SQL.NoSQL.Library.NoSQL.UnitOfMongo" />
      <Repository RepositoryName="AppRepository" DataBase="SQL.NoSQL.Library.SQL.UnitOfNhibernate" />
    </RepositoryCollection>
  </RepositoryConfiguration>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="owin:appStartup" value="SQL.NoSQL.WEB.App_Start.Startup" />
    <add key="nhibernate-logger" value="SQL.NoSQL.BLL.Common.NLogFactory, SQL.NoSQL.BLL" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
